.articleWithMediaQuery {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 32px;
  border-radius: 8px;
  color: #404040;
}
.articleWithMediaQuery_wrapper {
  container-type: inline-size;
}
.articleWithMediaQuery_side {
  width: 204px;
  display: grid;
  place-content: flex-start;
  place-items: center;
  gap: 16px;
  grid-template-columns: auto auto;
}
.articleWithMediaQuery_timestamp {
  font-size: 1rem;
}
.articleWithMediaQuery_badge {
  background: #7C71F6;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 4px 8px;
  font-size: 0.875rem;
}
.articleWithMediaQuery_title {
  display: block;
  line-height: 1.5;
  font-size: 1.125rem;
  font-size: 1.125rem;
}
@media screen and (width <= 768px) {
  .articleWithMediaQuery {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 16px;
  }
}

.splitLayoutWithMediaQuery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  border-radius: 16px;
  background: #FFF;
  padding: 54px;
}
.splitLayoutWithMediaQuery_wrapper {
  container-type: inline-size;
}
@media screen and (width <= 768px) {
  .splitLayoutWithMediaQuery {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
