.articleWithStyleQuery {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 32px;
  border-radius: 8px;
  color: #404040;
}
@container (width <= 640px) {
  .articleWithStyleQuery {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 16px;
    --badgeWithStyleQuery-is-small: true;
    --titleWithStyleQuery-is-small: true;
  }
}
.articleWithStyleQuery_wrapper {
  container-type: inline-size;
}
.articleWithStyleQuery_side {
  width: 204px;
  display: grid;
  place-content: flex-start;
  place-items: center;
  gap: 16px;
  grid-template-columns: auto auto;
}

.timestamp {
  font-size: 1rem;
}
@container style(--badgeWithStyleQuery-is-small) {
  .timestamp {
    font-size: 0.875rem;
    color: #8d0000;
  }
}

.badge {
  background: #7C71F6;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 4px 8px;
  font-size: 0.875rem;
}
@container style(--badgeWithStyleQuery-is-small) {
  .badge {
    font-size: 0.75rem;
    background-color: #8d0000;
    color: #fff;
  }
}

.title {
  display: block;
  line-height: 1.5;
  font-size: 1.125rem;
  display: block;
}
@container style(--titleWithStyleQuery-is-small) {
  .title {
    font-size: 1rem;
  }
}
